.code-editor {
	width: 500px;
	height: 300px;
	position: relative;
}

.code-input, .code-output {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'Monaco', monospace;
	font-size: 14px;
	line-height: 18px;
}

.code-output {
	pointer-events: none;
	margin: 0px;
	padding: 3px;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}